*{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #2c71d3;
    user-select: none;
    overflow: hidden;
}

.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.863);
    display: none;
}

.modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55%;
    width: 45%;
    background-color: #3b3faaf8;
    border-radius: 3rem;
    box-shadow: 0px 0px 10px 4px #8285dff8 inset;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.modal-text-container{
    padding-bottom: 2rem;
}

.modal-text{
    color: whitesmoke;
    font-size: clamp(1.3rem, 5vw, 5rem)
}

.container{
    display: flex;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.users{
    display: flex;
    height: auto;
    margin-bottom: 0.6rem;
    justify-content: space-around;
    align-items: end;
    width: 100%;
}

.users div{
    width: 100%;
    display: flex;
    font-size: clamp(1.8rem, 2vw, 5rem);
    font-weight: 550;
    color: whitesmoke;
    justify-content: center;
    align-items: flex-end;
}

.score{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: whitesmoke;
    height: 4rem;
    top: 10%;
    font-size: clamp(2.5rem, 4vw, 5rem);
    padding: 1rem;
}

.user-score{
    left: 2%;
}

.machine-score{
    right: 2%;
}

#result-board{
    width: 50%;
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: #2c71d3;
}

#result-board span{
    font-size: clamp(0.8rem, 5vw, 3rem) ;
}

.result-container{
    color: whitesmoke;
    width: 45dvw;
    min-height: 1rem;
    height: 50%;
    margin: 0.5rem;
    padding: 0.2rem;
    background-color: #191D88;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

#game-board, #user-board, #machine-board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.result-container span{
    font-size: clamp(1.4rem, 4vw, 5rem);
}

.vertical-line::after {
    content: '';
    border: 0.45rem solid #2c71d3;
    position: absolute;
    height: 100%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

#game-board{
    background-color: #c9fff6;
    width: 98dvw;
    position: relative;
    flex: 1;
}

.svgContainer{
    display: flex;
    justify-content: center;
}

svg{
    width: 60%;
    height: 60%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-65%);
}

.buttons-container{
    background-color: #2c71d3;
    width: 100dvw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

button{
    width: 8.5rem;
    height: 5rem;
    font-size: clamp(1rem, 1.5vw, 9rem);
    font-weight: 550;
    color: #013072;
    border-radius: 5rem;
    background-color: #FFC436;
}

button:hover{
    background-color: #f5d281;
}
/* MEDIA QUERIES ---------------------------------- */
@media (max-width: 600px){
    .modal-container{
        height: 50%;
    }
}

@media (max-width: 500px){
    .modal-container{
        height: 40%;
        width: 65%;
    }
}

@media (max-width: 600px) {
    button{
        width: 7.5rem;
        height: 4rem;
    }
}
@media (max-width: 500px) {
    button{
        width: 6rem;
        height: 3rem;
    }
}

@media (max-width: 400px) {
    button{
        width: 5.5rem;
        height: 3rem;
    }
}
/* ANIMATIONS ---------------------------------- */
@keyframes fadeIn { 
    0% {opacity: 0;}
    50%{opacity: 0.5;}
    100% {opacity: 1;} 
};