*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2c71d3;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.game-name{
    min-height: 20%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6rem;
    color: rgb(56, 46, 46);
    font-family: 'Bangers', cursive;
    font-size: clamp(1.8rem, 4vw, 6rem);
}

.intro-text{
    width: 100dvw;
    padding-bottom: 1rem;
    color: #FFC436;
    font-size: clamp(1.2rem, 4vw, 3rem);
    text-align: center;
}

.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.user-input{
    padding-bottom: 0.5rem;
}

input[type=text]{
    border-radius: 2rem;
    padding: 0.7rem 2.3rem;
    color: black;
    font-size: 1.1rem;
}
input[type=text]:focus{
    box-shadow: 0px 0px 3px 2px #0e139e;
    outline: none;
    
}
input[type=text]:focus::placeholder{
    color: transparent;

}

input[type=submit]{
    width: 8rem;
    height: 2rem;
    border-radius: 0.8rem;
    background-color: #fdcb57;
    font-size: 1.2rem;
    color: #013072;
    font-weight: 550;
}

.error{
    border: 2px solid red;
    background-color: rgb(167, 86, 86);
}